[submodule "submodules/articlequality"]
	path = submodules/articlequality
	url = https://github.com/wiki-ai/articlequality
[submodule "submodules/editquality"]
	path = submodules/editquality
	url = https://github.com/wiki-ai/editquality
[submodule "submodules/wheels"]
	path = submodules/wheels
	url = https://gerrit.wikimedia.org/r/research/ores/wheels.git
[submodule "submodules/ores"]
	path = submodules/ores
	url = https://github.com/wiki-ai/ores
[submodule "submodules/draftquality"]
	path = submodules/draftquality
	url = https://github.com/wiki-ai/draftquality
[submodule "submodules/drafttopic"]
	path = submodules/drafttopic
	url = https://github.com/wiki-ai/drafttopic
