amqp==2.5.0
attrs==19.1.0
billiard==3.5.0.5
boto==2.49.0
boto3==1.9.199
botocore==1.12.199
celery==4.1.1
certifi==2019.6.16
chardet==3.0.4
Click==7.0
deep-merge==0.0.4
deltas==0.4.7
docopt==0.6.2
docutils==0.14
flake8==3.3.0
Flask==1.0.4
Flask-Jsonpify==1.5.0
flask-swaggerui==0.0.1
flask-wikimediaui==0.0.1
gensim==3.3.0
hanziconv==0.3.2
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
json2tsv==0.1.2
jsonable==0.3.1
jsonschema==3.0.1
kombu==4.6.3
langdetect==1.0.7
MarkupSafe==1.1.1
mccabe==0.6.1
mediawiki-utilities==0.4.18
mmh3==2.3.1
more-itertools==7.2.0
mwapi==0.5.1
mwbase==0.1.4
mwcli==0.0.2
mwparserfromhell==0.5.4
mwreverts==0.1.5
mwtypes==0.3.2
mwxml==0.3.3
mysqltsv==0.0.7
nltk==3.0.5
numpy==1.16.4
para==0.0.5
pkg-resources==0.0.0
py==1.8.0
pycodestyle==2.3.1
pyenchant==1.6.11
pyflakes==1.5.0
PyMySQL==0.9.3
pyrsistent==0.15.4
pytest==3.2.5
python-dateutil==2.8.0
pytz==2019.2
PyYAML==4.2b4
redis==3.3.4
requests==2.22.0
revscoring==2.5.2
s3transfer==0.2.1
scikit-learn==0.20.3
scipy==1.2.2
six==1.12.0
smart-open==1.8.4
sseclient==0.0.24
statistics==1.0.3.5
statsd==3.2.2
stopit==1.1.2
tabulate==0.7.7
textstat==0.3.1
tqdm==4.15.0
urllib3==1.25.3
vine==1.3.0
Werkzeug==0.15.5
yamlconf==0.2.4
